h1 {
    text-align: center;
    /*color: goldenrod */
    font-family: Verdana;
    font-size: 75px;
    padding: 20px;
    color: burlywood;
  }
  body {
        background-color: #13355E;
    ;

  }
  h2 {
    text-align: center;
    /*color: goldenrod */
    font-family: Verdana;
    font-size: 50px;
    padding: 20px;
    color: burlywood;
  }
  .navbar-brand {
    font-size: larger;
  
  }
  
  nav ul {
    padding: 0;
    display: flex;
    align-items: right;
    justify-content: space-between;
    list-style-type: none;
    margin-right: 15%;
  
  }
  
  nav li a {
    font-family: Verdana;
    font-size: 16px;
    padding: 50px;
  }
  
  nav li a:hover {
    color: goldenrod;
  }
  
  .container {
    width: auto;
  }
  
  .navbar-custom {
    background-color: #CEE8FF;
    ;
    height: 170px;
  }
  #particles canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.vid-container {
  display: flex;
 flex-direction: column;
}